    * {
        box-sizing: border-box;
    }

    body {
        height: 100%;
        margin: 0;
        font-family: 'Istok Web', sans-serif;
        background-color: #0A3950;
    }

    .main-login {
        height: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em;
    }

    .form-login {
        display: flex;
        flex-direction: column;
        background-color: #D9D9D9;
        border-radius: 15px;
        padding: 2em 4em 4em 4em;
        align-items: center;
    }

    .div-logo {
        max-width: 300px;
        padding-bottom: 20px;
        border-bottom: 1px solid #3C3B3B4D;
    }

    .img-logo {
        width: 100%;
        display: flex;
    }

    .div-inputs-login {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .inputs {
        border: none;
        border-radius: 10px;
        height: 40px;
        margin-top: 15px;
        font-size: 17px;
        color: #3C3B3B;
        background-position: 10px;
        background-repeat: no-repeat;
        background-size: 25px;
        padding-left: 40px;
        min-width: 308px;
    }

    .input-senha:last-of-type {
        margin-bottom: 15px;
    }

    .inputs::placeholder {
        color: #3C3B3B;
        font-size: 15px;
        font-weight: 700;
    }

    .input-email {
        background-image: url(assets/email.png);
    }

    .input-senha {
        background-image: url(assets/senha.png);
    }

    .input-senha-login:last-of-type {
        margin-bottom: 3px;
    }

    .button-login-cadastro {
        color: #FFFFFF;
        background-color: #0A3950;
        border-radius: 15px;
        border: none;
        height: 38px;
        width: 150px;
        margin-bottom: 15px;
        margin-top: 10px;
        font-size: 17px;
        cursor: pointer;
    }

    .div-texto {
        border-top: 1px solid #3C3B3B4D;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
    }

    .div-texto-sem-borda {
        border-top: none;
    }

    .p-login {
        font-size: 14px;
        font-weight: 700;
        margin-right: 5px;
    }

    .p-esqueceu-senha {
        font-size: 13px;
        margin: 0.5em;
    }

    .link-cadastro {
        color: #5F98B4;
        text-decoration: none;
    }

    .link-cadastro:hover {
        color: #0d4766;
        text-decoration: underline;
    }

    .button-login {
        width: 40px;
        height: 40px;
        border: none;
        background-size: cover;
        background-color: #ffffff00;
        cursor: pointer;
        margin-left: 10px;
        margin-right: 10px;
    }

    .button-login:hover {
        opacity: 50%;
    }

    @media (max-width: 555px) {
        .form-login {
            padding: 20px;
        }
    }

    /*---------------------------CADASTRO---------------------------------*/
    .div-cadastro-pai {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }

    .header-cadastro {
        display: none;
    }

    .div-cadastro {
        display: flex;
        background-color: #D9D9D9;
        border-radius: 15px;
        margin: 2em 4em;
        justify-content: space-around;
        max-width: 900px;
    }

    .h2-cadastro {
        font-size: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #3C3B3B4D;
        width: 100%;
    }

    .input-user {
        background-image: url(assets/user.png);
    }

    .input-data {
        background-image: url(assets/calendario.png);
    }

    .aside-cadastro {
        margin: 2em 4em 4em 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .div-logo-cadastro {
        border: none;
    }

    .div-recados-cadastro {
        width: 100%;
        max-width: 470px;
        background-color: #67818E;
        border-radius: 15px;
        margin-bottom: 1.5em;
        text-align: center;
        min-width: 150px;
    }

    .p-cadastro {
        margin: 1em;
        font-size: 20px;
        min-width: 145px;
    }

    @keyframes moveUpDown {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-8px);

        }

        100% {
            transform: translateY(0);
        }
    }

    .div-img-exibição {
        width: 100%;
    }

    .img-exibição {
        width: 100%;
        border-radius: 15px;
    }

    @media (max-width: 715px) {
        .form-login {
            padding: 2em 1.5em 4em 1.5em;
        }

        .aside-cadastro {
            margin: 2em 1.5em 4em 0;
        }
    }

    @media (max-width: 555px) {
        .aside-cadastro {
            display: none;
        }

        .header-cadastro {
            display: flex;
            padding: 3.5em 2em 0 2em;
            justify-content: center;
        }

        .div-logo-cadastro {
            width: 85%;
            padding-bottom: 15px;
        }

        .div-cadastro {
            flex-direction: column;
        }

        .form-cadastro {
            padding: 0 1.5em 4em 1.5em;
        }

        .inputs {
            min-width: 303px;
        }

        .inputs::placeholder {
            font-size: 13px;
        }
    }

    /*---------------------------RECUPERAR SENHA------------------------------*/

    .input-email-recuperacao {
        margin-bottom: 15px;
    }

    .div-login-com {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .aside-cadastro-recuperacao {
        justify-content: center;
    }

    /*--------------------------Email Eviado-----------------------------*/
    .div-recuperacao-senha {
        max-width: 600px;
    }

    .div-logo-recuperacao {
        width: 100%;
        max-width: none;
        border: none;
    }

    .img-logo-recuperacao {
        width: 32%;
    }

    .h2-cadastro-recuperacao {
        text-align: center;
    }

    .p-email-recuperacao {
        text-align: center;
        margin: 60px 0;
    }

    .link-button-voltar {
        color: #FFFFFF;
        background-color: #0A3950;
        border-radius: 20px;
        height: 35px;
        width: 95px;
        margin-top: 10px;
        font-size: 16px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }

    /*---------------------------TELA INICIAL---------------------------------*/
    .main-principal {
        display: flex;
    }

    .header-tela-inicial {
        width: 100%;
        height: 4em;
        display: flex;
        background-color: #D9D9D9;
        align-items: center;
        justify-content: space-between;
    }

    .div-logo-header {
        max-width: 150px;
        margin-left: 1em;
    }

    .div-logo-header-home {
        min-width: 8em;
        height: 80%;
        margin: 0 0.5em 0 1em;
        width: 20%;
        max-width: 12em;
    }

    .input-pesquisa {
        margin: 0 1.2em 0 0;
        width: 17em;
        background-color: #FFFFFF;
        background-image: url(assets/search.png);
        width: 50%;
    }

    .div-buttons {
        display: flex;
        align-items: center;
        width: 60%;
        justify-content: space-around;
    }

    .div-buttons-modal {
        display: flex;
        justify-content: space-around;
    }

    .button-adicionar {
        background-image: url(assets/adicionar.png);
        width: 35px;
        height: 35px;
    }

    .button-apagar {
        background-image: url(assets/excluir.png);
        width: 35px;
        height: 35px;
    }

    .button-aviso {
        background-image: url(assets/notificacoes.png);
        width: 35px;
        height: 35px;
    }

    .button-desempenho {
        background-image: url(assets/rendimento.png);
        width: 32px;
        height: 32px;
    }

    .div-perfil {
        display: flex;
        align-items: center;
        margin-right: 5px;
        width: 25%;
        justify-content: flex-end;
    }

    .p-nome-usuario {
        margin: 0;
        min-width: 103px;
    }

    .img-perfil {
        margin-left: 5px;
        width: 40px;
        height: 40px;
    }

    /*Nav-lateral*/

    .side-bar {
        width: 193px;
        height: 100vh;
        position: relative;
        top: 0;
        left: -106%;
        overflow-y: auto;
        transition: 0.6s ease;
        transition-property: left;
        background-color: #031E2C;
        box-shadow: 3px 2px 11px 2px #031E2C;
    }

    .side-bar.active {
        left: 0;
    }

    .main-tela-principal.ativa {
        left: -9em;
        min-width: 88%;
    }

    .side-bar .menu {
        width: 100%;
        margin-top: 50px;
    }

    .side-bar .menu .item {
        position: relative;
        cursor: pointer;
    }

    .side-bar .menu .item a {
        color: #fff;
        font-size: 16px;
        text-decoration: none;
        display: block;
        padding: 5px 27px;
        line-height: 40px;
        font-weight: 600;
    }

    .side-bar .menu .item a:hover {
        background: #011620;
        transition: 0.3s ease;

    }

    .side-bar .menu .item i {
        margin-right: 8px;
        font-size: 23px;
    }

    .borda {
        margin: 0.5em 0px;
        height: 3px;
        width: 77%;
        background-color: #FFF;
    }

    .side-bar .menu .item a .dropdown {

        position: absolute;
        right: 0;
        margin: 10px;
        transition: 0.3s ease;
    }

    .side-bar .menu .item .sub-menu {
        background: #ffffff1a;
        display: none;
    }

    .sub-menup {
        display: none;
        position: absolute;
        top: 64px;
        width: 128px;
        right: 0;
        background-color: #D9D9D9;
        padding: 1em;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .side-bar .menu .item .sub-menu a {
        padding-left: 60px;
        font-size: 15px;
    }

    .rotate {
        transform: rotate(90deg);
    }

    .close-btn {
        position: absolute;
        color: #fff;
        font-size: 20px;
        right: 0;
        margin: 25px;
        cursor: pointer;
    }


    .menu-btn {
        position: absolute;
        color: #fff;
        font-size: 20px;
        margin: 25px;
        cursor: pointer;
    }

    @media (max-height:751px) {
        .nav-lateral {
            height: 100%;
        }

        .side-bar {
            height: 100%;
        }
    }

    /*Modal*/

    dialog::backdrop {
        background-color: #011620d0;
    }


    dialog {
        width: 60%;
        border: none;
        background-color: transparent;
        border-radius: 25px;
        max-width: 58em;
        padding: 0;
    }

    .div-button-exit {
        display: flex;
        justify-content: end;
        height: 36px;
    }

    .div-button-exit i {
        margin: 0.1em 0.2em 0.8em 0;
        font-size: 30px;
        cursor: pointer;
    }

    .div-button-exit i:hover {
        opacity: 50%;
    }

    .div-button-logo {
        width: 99%;
        justify-content: space-between;
        display: flex;

    }


    .div-h2-tarefa {
        background-color: #0A3950;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        width: 100%;
        height: 3em;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .h2-adicionar-tarefa {
        margin: 0 0.5em;
        font-size: 20px;
        color: #FFF;

    }

    .div-detalhes-tarefas {
        background-color: #FFF;
        padding-bottom: 2em;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .informacoes-inputs {
        padding: 1em 0 0.7em 1em;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .h4-infomacoes-inputs {
        margin: 0;
        font-weight: 600;
        font-size: 20px;
        margin-right: 10px;
        min-width: 7em;
    }

    .div-inicio-conclusao-horario {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 5px;
    }

    .select-inputs {
        background-color: #D9D9D9;
        border: none;
        border-radius: 25px;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        width: 10em;
        height: 1.8em;
        margin-right: 3px;
    }

    .select-inputs-tarefa {
        width: 15em;
        text-align: start;
        padding: 4px 0 0 10px;
    }

    .div-button-nova-tarefa {
        justify-content: center;
        display: flex;
    }

    .button-criar-tarefa {
        height: 2.5em;
        width: 12em;
        border: none;
        border-radius: 25px;
        background-color: #D9D9D9;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        transition: 1.5s ease;
    }

    .button-criar-tarefa:hover {
        background-color: #9e9e9e;
    }

    /*segundo modal*/

    .container-informacoes-modal {
        background-color: #FFF;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }

    .container {
        background: #D9D9D9;
        border-radius: 30px;
        box-shadow: 0 3px 6px #d3d3d3;
        display: flex;
        justify-content: center;
        padding: 7px;
        width: 238px;
        margin-top: 2.2em;
        align-items: center;
    }

    .nav-button {
        border-radius: 50px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 15px;
        transition: 0.5s ease;
    }

    .nav-button i {
        font-size: 1.3em;
        color: #a3aab1
    }

    .nav-button p {
        font-weight: 600;
        color: #706969;
        font-size: 17px;
        margin: 9px 0;
    }

    .nav-button.active p {
        max-width: 300px;
        transition: 0.4s ease-in-out;
        font-weight: 600;
    }

    .nav-button.active i,
    .nav-button.active p {
        color: #333333;
    }

    .nav-button.active.bg {
        background: #FFF;
    }

    .container-informacoes-concluidas-modal {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1.5em;
        max-width: 520px;
    }

    .container-informacoes-concluidas-modal i {
        color: #0A3950;
        font-size: 61px;
    }

    .p-informacoes-desempenho {
        text-align: center;
        font-weight: bold;
        margin-top: 0;
    }

    .div-borda-redimento {
        width: 90%;
        height: 3px;
        background-color: #0A3950;
    }

    .div-porcentagem-redimento {
        width: 90%;
    }

    .div-porcentagem-redimento .p-informacoes-desempenho {
        text-align: left;
        margin-left: 10px;
    }

    .div-porcentagem-redimento-detalhada {
        display: flex;
        align-items: center;
        margin-bottom: 7px;
    }

    .div-porcentagem-redimento-detalhada .p-informacoes-desempenho {
        margin-top: 0;
        margin-bottom: 0;
        border-left: 3px solid #000000;
        padding: 0 8px;
        text-align: center;
        min-height: 57px;

    }

    .div-porcentagem-redimento-detalhada .p-informacoes-desempenho:not(:last-child) {
        border-bottom: 2px solid #000000;
        max-width: 156px;


    }

    .div-porcentagem-redimento-detalhada .p-box-prioridade {
        height: 37px;

    }

    @media (max-width: 750px) {
        .div-porcentagem-redimento-detalhada .p-box-prioridade {
            height: 25px;
            font-size: 10px;
            padding: 13px 6px;

        }

        .div-porcentagem-redimento-detalhada .p-informacoes-desempenho:not(:last-child) {
            border-bottom: 1px solid #000000;

        }

        .div-porcentagem-redimento-detalhada .p-informacoes-desempenho {
            border-left: 1px solid #000000;
            padding: 0;
            min-height: 44px;
            font-size: 13px;
            margin-left: 3px;
            max-width: 95px;
        }


    }

    @media(max-width: 520px) {
        .p-informacoes-desempenho-porcentagem {
            display: none;
        }

        .div-porcentagem-redimento .p-informacoes-desempenho {
            display: flex;
            align-items: center;
            max-width: 27px;
        }
    }



    /*modal notificações*/

    .dialog-notificacoes .dialog-container .div-h2-tarefa {
        justify-content: space-between;
    }

    .buttons-notificacoes-tarefa span {
        position: relative;
        color: white;
        font-size: 20px;
    }

    .buttons-notificacoes-tarefa span i {
        position: absolute;
        top: -0.3em;
        left: 0.2em;
        color: #FFF;
        background-color: #0A3950
    }

    .buttons-notificacoes-tarefa {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .buttons-notificacoes-tarefa button {
        border-radius: 15px;
        background-color: #D9D9D9;
        font-weight: bold;
        font-size: 75%;
        border: none;
        padding: 6px;
        margin: 2px 5px 2px 10px;
        cursor: pointer;
    }

    .container-notificacoes-modal {
        width: 100%;
        background-color: #FFF;
        padding: 1em;
        justify-content: center;
        display: flex;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .continer-detalhes-notificacoes {
        display: flex;
        align-items: center;
    }

    .checkbox-container {
        /*check box personalizado*/
        display: inline-block;
        position: relative;
        padding-left: 25px;
        margin-bottom: 12px;
        cursor: pointer;
    }

    .checkbox-container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #ffffff;
        border: 2px solid #000000;
        border-radius: 6px;
    }

    .checkbox-container input:checked~.checkmark {
        background-color: #000000;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
        border: solid #FFF;
    }


    .checkbox-container input:checked~.checkmark:after {
        display: block;
    }

    .checkbox-container .checkmark:after {
        left: 5px;
        width: 5px;
        height: 10px;
        border: solid #FFF;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }

    .container-todas-informacoes-tarefas {
        display: flex;
        background-color: #DCE2E5;
        border-radius: 25px;
        padding: 8px 0;
        border: 3px solid #0A3950;
        justify-content: center;
        flex-wrap: wrap;
    }

    .div-todas-informacoes-tarefas {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .div-prazo-tarefa {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .informacoes-tarefas-prazo {
        display: flex;
        align-items: center;
    }

    .div-nome-prazo {
        margin: 5px 7px;
        background-color: #FFF;
        padding: 10px;
        border-radius: 20px;
    }

    .h5-nome-tarefa {
        margin: 0 2px;
        font-size: 17px;
        text-align: center;
    }

    .p-prazo-tarefa {
        margin: 2px 2px;
        color: #333333;
        font-weight: bold;
    }

    .p-data-tarefa {
        margin: 0 2px;
        color: #333333;
    }

    .div-descricao-boxs-tarefa {
        margin: 5px 7px;
        background-color: #FFF;
        padding: 10px;
        border-radius: 20px;
    }

    .div-boxs-tarefa {
        display: flex;
        justify-content: center;
    }

    .p-box-categorias,
    .link-prioridade-urgencia {
        margin: 0;
        background-color: #333333;
        min-width: 70px;
        max-height: 25px;
        border-radius: 13px;
        padding: 2px 5px;
        color: #FFF;
        margin-right: 5px;
    }

    .link-prioridade-urgencia {
        background-color: #EA4335;
        text-decoration: none;
        margin: 0;
    }

    .div-descricao-detalhada-tarefa {
        display: flex;
        justify-content: center;
        border-radius: 15px;
        background-color: #D9D9D9;
        padding: 5px 5px;
        margin-top: 5px;
    }

    .p-descricao-detalhada {
        margin: 0 4px;
        text-align: center;
        max-width: 181px;
    }

    .div-link-tarefa {
        margin: 5px 7px;
        background-color: #FFF;
        padding: 10px;
        border-radius: 20px;
    }

    .p-dia-tarefa {
        margin: 0;
    }

    .p-nome-tarefa {
        margin: 8px 0;
        font-weight: bold;
    }

    .link-ir-terefa {
        border-radius: 15px;
        background-color: #D9D9D9;
        font-weight: bold;
        border: none;
        padding: 4px 16px;
        text-decoration: none;
        color: #000000;
        display: flex;
        text-align: center;
    }

    /*Modal Exclusão*/
    .dialog-exclusao .p-email-recuperacao {
        max-width: 252px;
        font-weight: bold;
        font-size: 23px;
        margin: 50px 0;

    }

    .dialog-exclusao button {
        background-color: #0A3950;
        border: none;
        border-radius: 25px;
        width: 125px;
        height: 35px;
        font-size: 15px;
        font-weight: 700;
        color: #FFF;
        cursor: pointer;
    }

    .dialog-exclusao .div-texto {
        justify-content: space-evenly;
        padding-top: 15px;
    }

    .dialog-exclusao button:last-of-type {
        background-color: #87898A;
    }

    .dialog-exclusao button:hover {
        opacity: 50%;
    }


    /**/
    .main-tela-principal {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        position: relative;
        left: 0;
        transition: 0.6s ease;
        transition-property: left;
        justify-content: space-evenly;
    }

    .container-lembretes,
    .container-compromissos {
        background-color: #D9D9D9;
        padding: 10px;
        border-radius: 15px;
        margin: 10px 5px;
        height: 730px;
    }

    .container-compromissos {
        max-width: 750px;
        margin-left: 0;
    }

    .h2-tela-inicial {
        color: #333333;
        margin: 4px;
        max-width: 137px;
        font-size: 14px;
    }

    .h4-prazos,
    .p-prazos {
        color: #333333;
        margin: 3px;
        font-size: 12px;
    }

    .div-interna-container-lembretes {
        background-color: #FFFFFF;
        border-radius: 17px;
        padding: 8px 4px;
        display: flex;
        margin-bottom: 10px;
    }

    .div-informacoes-lembretes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .div-prazos {
        display: flex;
        align-items: center;
    }

    .div-checkbox {
        display: flex;
        background-color: #D9D9D9;
        border-radius: 17px;
        padding: 4px;
        margin: 10px 0 5px 0;
    }

    .h4-checkbox {
        display: flex;
        margin: 2px;
        align-items: center;
        font-size: 12px;
    }

    input[type="checkbox"].input-checkbox-finalizado {
        width: 18px;
        height: 18px;
        cursor: pointer;
    }

    .text-box {
        display: flex;
    }

    .link-text-box {
        margin: 0 9px 5px 0;
        padding: 3px 5px;
        background-color: #333333;
        color: #FFFFFF;
        text-decoration: none;
        border-radius: 15px;
        font-size: 13px;
        text-align: center;
        display: flex;
        align-items: center;
        height: 22px;
    }

    .p-box-prioridade {
        margin: 0;
        display: flex;
        align-items: center;
        text-align: center;
        border-radius: 22px;
        height: 22px;
        width: 84px;
        color: #FFF;
        justify-content: center;
        font-size: 13px;
    }

    .p-urgencia-alta {
        background-color: #EA4335;
    }

    .p-urgencia-media {
        background-color: #1B0BD7;
    }

    .p-urgencia-baixa {
        background-color: #13F300;
    }

    .div-descricao-detalhada {
        display: flex;
        max-width: 166px;
        background-color: #D9D9D9;
        padding: 7px;
        border-radius: 15px;
        height: 100px;
    }

    .img-icon-descricao {
        height: 21px;
    }

    .p-descricao {
        margin: 0 1px 2px 3px;
        font-size: 10px;
        width: 100%;
        line-height: 15px;
    }

    .div-editar-excluir {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .div-editar-excluir i {
        margin-left: 4px;
        margin-bottom: 10px;
        cursor: pointer;
    }

    .button-new {
        width: 30px;
        height: 30px;
        background-image: url(assets/new.png);
        border: none;
        background-size: cover;
        background-color: transparent;
        cursor: pointer;
    }

    #calendar {
        max-width: 330px;
        margin: 25px auto;
        background-color: #FFFF;
        border-radius: 15px;
        padding: 10px;
    }

    #calendar .fc-button {
        font-size: 12px;
        /* Define o tamanho da fonte dos botões */
        padding: 5px 8px;

    }

    #calendar .fc-header-toolbar {
        font-size: 14px;
    }


    #calendar .fc-toolbar-title {
        font-size: 19.5px;
    }

    .fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
        min-height: 1.4em;
    }

    .img-logo-home {
        background-image: url(assets/logo.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
    }

    .button-login-home {
        margin-left: 20px;
        margin-right: 0;
    }

    @media (max-width: 842px) {
        .input-pesquisa {
            margin-right: 5px;
            min-width: 0;
            width: 10em;
            height: 2em;
        }

        .button-login-home {
            margin-left: 4px;
            margin-right: 4px;
            height: 30px;
            width: 30px;
        }

        .div-perfil {
            margin-left: 5px;
            flex-direction: column-reverse;
            text-align: center;
        }

        .img-perfil {
            width: 30px;
            height: 30px;
        }

        .p-nome-usuario {
            font-size: 13px;
        }
    }


    @media(max-width: 568px) {
        .input-pesquisa::placeholder {
            color: transparent;
        }

        .img-perfil {
            width: 23px;
            height: 23px;
        }

        .p-nome-usuario {
            font-size: 11px;
            min-width: 0;
        }

        dialog {
            width: 90%;
        }

        .buttons-notificacoes-tarefa button {
            font-size: 66%;
            margin: 0 13px 0 14px;
        }

        .img-logo-home {
            background-image: url(assets/icon-logo.png);
        }

        .div-logo-header-home {
            min-width: 0;
            width: 3em;
            height: 75%;
            margin: 0 0.7em;
        }

        .div-informacoes-lembretes {
            margin-right: 2px;
        }

        .h2-tela-inicial {
            max-width: 107px;
            font-size: 11px;
        }

        .h4-prazos,
        .p-prazos {
            color: #333333;
            margin: 3px;
            font-size: 9px;
        }

        .div-checkbox {
            padding: 0 4px;
        }

        .h4-checkbox {
            margin: 0px;
            font-size: 9px;
        }

        input[type="checkbox"].input-checkbox-finalizado {
            width: 15px;
            height: 15px;
        }

        .link-text-box {
            margin: 0 3px 5px 0;
            font-size: 10px;
            height: 17px;
        }

        .p-box-prioridade {
            height: 17px;
            width: 67px;
            font-size: 10px;
        }

        .p-descricao {
            font-size: 8px;
            line-height: 13px;
        }

        .div-descricao-detalhada {
            max-width: 121px;
            padding: 4px 6px;
            height: 78px;
        }

        .container-lembretes,
        .container-compromissos {
            height: 600px;
        }

        .side-bar.active {
            position: absolute;
            top: 4em;
            z-index: 1;
            padding-bottom: 2em;
            border-bottom-left-radius: 50px;
            border-bottom-right-radius: 50px;
        }

        .side-bar {
            height: auto;
        }

        .menu-btn {
            font-size: 19px;
            margin: 15px;
        }

        .main-tela-principal.ativa {
            left: -11.7em;
        }

        .main-tela-principal {
            top: 2em;
        }

        #calendar {
            max-width: 256px;
        }

        .fc-toolbar-chunk {
            display: flex;
        }

        .fc .fc-col-header-cell-cushion {
            font-size: 11.5px;
        }
    }

    /*----------------TELA DE APRESENTAÇÃO----------------*/

    .body-tela-apresentacao {
        background-color: #FFFFFF;
    }

    .header-tela-apresentacao {
        margin: 2em;
    }

    .nav-apresentacao {
        display: flex;
        justify-content: space-between;
    }

    .div-nav-apresentacao {
        display: flex;
        align-items: center;
    }

    .link-nav-tela-apresentacao {
        text-decoration: none;
        color: #000000;
        font-size: 17px;
        font-weight: 600;
        margin-left: 2em;
        position: relative;
        display: inline-block;

    }

    .login-apresentacao {
        background-color: #D9D9D9;
        padding: 0.7em 3.8em;
        border-radius: 25px;
    }

    .link-nav-tela-apresentacao::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-bottom: 4px solid transparent;
        filter: blur(5px);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        z-index: -1;
        border-radius: 50%;
    }

    .link-nav-tela-apresentacao:hover::after {
        opacity: 1;
        border-color: rgba(0, 0, 0, 0.5);
    }

    .container-principal {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .texts-apresentacao {
        width: 100%;
        text-align: center;
    }

    .h1-text-apresentacao {
        margin: 1em 0.2em 0 0.2em;
    }

    .p-text-apresentacao {
        font-size: 16px;
        font-weight: 300;
        margin: 0.2em 0.5em;
    }

    .container-divs {
        width: 100%;
        margin-top: 2.5em;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .img-exibicao-tela-inicial {
        width: 100%;
        height: 100%;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        max-width: 1265px;
    }

    .div-logo-header-apresentacao {
        min-width: 115px;
        margin-left: 0;
    }

    .div-informacoes {
        background-color: #343E57;
        box-shadow: inset 0px 4px 4px #00000040;
        width: 100%;
        padding-bottom: 50px;
    }

    .div-informacoes-left-right {
        display: flex;
        flex-direction: column;
    }

    .h2-informacoes {
        color: #FFFFFF;
        text-align: center;
        font-size: 27px;
        margin: 15px;
    }

    .div-todas-informacoes {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .div-informacoes-com-icones {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0.5em;
    }

    .div-informacoes-left-right:first-child {
        border-right: 3px solid #FFFFFF;
    }

    .texts-informacoes {
        color: #FFFFFF;
        font-weight: 600;
        font-size: 12px;
        max-width: 31em;
    }

    .icons-apresentacao {
        filter: invert(100%);
        height: 3em;
        margin-right: 1em;
    }


    .container-tarefas {
        width: 100%;
        background-color: #1F2B49;
        box-shadow: inset 0px 4px 4px #00000040;
        padding: 50px 5px 100px 5px;
    }

    .container-tarefas .div-todas-informacoes {
        justify-content: space-evenly;
    }


    .div-todas-informacoes-tarefas-left {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .img-exemplo-adicionar-tarefa-wiki {
        max-width: 460px;
        width: 100%;
        padding: 0 10px;
    }

    .texts-informacoes-listas {
        color: #FFFFFF;
        font-weight: 600;
        font-size: 14px;
        max-width: 30.5em;
    }

    .div-todas-informacoes-tarefas-left ul {
        padding-left: 21px;
    }

    .img-exemplo-adicionar-tarefa {
        max-width: 500px;
        width: 100%;

    }

    .div-todas-informacoes-tarefas-right {
        margin: 40px 10px 0 10px;
    }

    .container-notificacoes .div-todas-informacoes {
        justify-content: space-evenly;
    }

    .container-notificacoes {
        width: 100%;
        background-color: #1D313B;
        box-shadow: inset 0px 4px 4px #00000040;
        padding: 50px 5px 100px 5px
    }

    .footer-lifetidy {
        background-color: #f8f8f8;
        padding: 10px 0;
        box-shadow: inset 0px 4px 4px #00000040;
    }

    .container-footer {
        max-width: 1200px;
        margin: 0 auto;
    }

    .footer-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-logo {
        margin: 5px;
    }

    .footer-logo img {
        width: 100px;
    }

    .footer-links ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .footer-links li {
        display: inline-block;
        margin-right: 20px;
    }

    .footer-links a {
        text-decoration: none;
        color: #777;
        font-size: 14px;
        transition: color 0.3s ease;
        font-weight: bold;
    }

    .footer-links a:hover {
        color: #1F2B49;
    }

    .footer-bottom {
        text-align: center;
    }

    .footer-bottom p {
        font-size: 12px;
        color: #777;
        margin: 0;
    }


    @media (max-width: 993px) {
        .div-informacoes-left-right:first-child {
            border-right: none;
        }
    }

    @media (max-width: 768px) {
        .div-nav-apresentacao {
            display: flex;
            justify-content: space-between;
        }

        .link-nav-tela-apresentacao {
            margin: 5px;
            font-size: 80%;
        }

        .login-apresentacao {
            padding: 0.7em 2em;
        }
    }

    @media (max-width: 550px) {
        .header-tela-apresentacao {
            margin: 1em;
        }

        .links-none {
            display: none;
        }
    }

    /*Tela-Hoje*/

    .container-hoje-principal {
        width: 97%;
        background-color: #D9D9D9;
        display: flex;
        border-radius: 25px;
        padding: 20px 5px;
        margin: 30px 5px 100px 5px;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1150px;
    }

    .sub-container-hoje-principal {
        margin-bottom: 40px;
    }

    .h5-nome-tarefa-hoje {
        text-align: left;
        font-size: 15px;
    }

    .p-tarefa-hoje {
        font-size: 14px;
    }

    .container-hoje .p-box-categorias,
    .link-prioridade-urgencia {
        font-size: 14px;
        text-align: center;
    }

    .container-hoje .p-descricao-detalhada {
        max-width: 121px;
        font-size: 13px;
    }

    .container-hoje {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-hoje-meio {
        margin: 0 5px;
    }


    .container-hoje .p-box-prioridade {
        height: 44px;
        width: 133px;
        font-size: 20px;
    }

    .container-hoje .div-borda-redimento {
        margin: 1em 0;
        width: 100%;
    }

    .div-container-hoje-tarefas {
        height: 90%;
        background-color: #A8A3A3;
        padding: 10px 5px;
        margin: 0;
        border-radius: 25px;
        min-height: 300px;
        max-height: 534px;
        overflow-y: scroll;
        min-width: 300px;
    }

    .div-container-hoje-tarefas::-webkit-scrollbar {
        width: 10px;
        /* Largura do scroll */
    }

    .div-container-hoje-tarefas::-webkit-scrollbar-thumb {
        background-color: #888;
        /* Cor do scroll */
    }

    .div-container-hoje-tarefas::-webkit-scrollbar-track {
        background-color: #f1f1f1;
        /* Cor de fundo do scroll */
    }

    .container-hoje .div-descricao-boxs-tarefa {
        margin: 0;
        padding: 0;
    }

    .container-hoje .div-nome-prazo {
        padding: 2px 2px 0 0;
        margin: 0;
    }

    .container-hoje .div-interna-container-lembretes {
        padding-top: 15px;
    }

    /*TELA SEMANA*/

    .p-data-semana{
        font-size: 22px;
        font-weight: bold;
    }

    .div-sem-tarefas{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .div-sem-tarefas h3{
        font-size: 26px;
        color: #333;
    }