body {
    height: 100vh;
    margin: 0;
    font-family: 'Istok Web', sans-serif;
    background-image: url(assets/img-fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.main-login {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.form-login {
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    border-radius: 15px;
    padding: 2em 4em 4em 4em;
    opacity: unset;
    max-width: 350px;
    margin: auto;
    max-height: 380px;
}

.div-logo {
    max-width: 300px;
    padding-bottom: 20px;
    border-bottom: 1px solid #3C3B3B4D;
}

.img-logo {
    width: 100%;
}

.inputs {
    padding-left: 20px;
    background-color: #D2EFFD;
    border: none;
    border-radius: 10px;
    height: 40px;
    margin-top: 15px;
    font-size: 17px;
    color: #3C3B3B;
    background-position: 10px;
    background-repeat: no-repeat;
    background-size: 25px;
    padding-left: 40px;
}
.inputs:last-of-type {
    margin-bottom: 15px;
}
.inputs::placeholder{
    color: #3C3B3B;
    font-size: 15px;
    font-weight: 700;
}
.input-email{
    background-image: url(assets/email.png);
}
.input-senha{
    background-image: url(assets/senha.png);
}

.div-texto {
    border-top: 1px solid #3C3B3B4D;
    display: flex;
    align-items: center;
}

.p-login{
    font-size: 13px;
    font-weight: 700;
    margin-right: 5px;
}

.link-cadastro{
    color: #5F98B4;
    text-decoration: none;
}

.link-cadastro:hover{
    color: #0d4766;
    text-decoration: underline;
}

.div-login-com{
    text-align: center;
}

.h4-login-com{
color: #3C3B3B;
}

.button-login{
    width: 40px;
    height: 40px;
    border: none;
    background-size: cover;
    background-color: #ffffff00;
    cursor: pointer;
}

.button-login:hover{
    opacity: 50%;
}

.div-button{
    display: flex;
    justify-content: center;
}

.login-google{
    background-image: url(assets/GoogleIcon.png);
    margin-right: 10px;
    
}

.login-facebook{
    background-image: url(assets/facebookIcon.png);
    margin-left: 10px;
}

.div-borda{
    border-right: 1px solid #3C3B3B;
}