body {
    height: 100%;
    margin: 0;
    font-family: 'Istok Web', sans-serif;
    background-image: url(assets/img-fundo.png);
    background-size: cover;
    background-attachment: fixed;
}

.main-login {
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.form-login {
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    border-radius: 15px;
    padding: 2em 4em 4em 4em;
    align-items: center;
}

.div-logo {
    max-width: 300px;
    padding-bottom: 20px;
    border-bottom: 1px solid #3C3B3B4D;
}

.img-logo {
    width: 100%;
}

.div-inputs-login {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputs {
    background-color: #D2EFFD;
    border: none;
    border-radius: 10px;
    height: 40px;
    margin-top: 15px;
    font-size: 17px;
    color: #3C3B3B;
    background-position: 10px;
    background-repeat: no-repeat;
    background-size: 25px;
    padding-left: 40px;
    min-width: 216px;
}

.input-senha:last-of-type {
    margin-bottom: 15px;
}

.inputs::placeholder {
    color: #3C3B3B;
    font-size: 15px;
    font-weight: 700;
}

.input-email {
    background-image: url(assets/email.png);
}

.input-senha {
    background-image: url(assets/senha.png);
}

.button-login-cadastro {
    color: #FFFF;
    background-color: #0A3950;
    border-radius: 15px;
    border: none;
    height: 38px;
    width: 150px;
    margin-bottom: 15px;
    font-size: 17px;
    cursor: pointer;
}

.div-texto {
    border-top: 1px solid #3C3B3B4D;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.p-login {
    font-size: 13px;
    font-weight: 700;
    margin-right: 5px;
}

.link-cadastro {
    color: #5F98B4;
    text-decoration: none;
}

.link-cadastro:hover {
    color: #0d4766;
    text-decoration: underline;
}

.div-login-com {
    text-align: center;
}

.h4-login-com {
    color: #3C3B3B;
}

.button-login {
    width: 40px;
    height: 40px;
    border: none;
    background-size: cover;
    background-color: #ffffff00;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

.button-login:hover {
    opacity: 50%;
}

.div-button {
    display: flex;
    justify-content: center;
}

.login-google {
    background-image: url(assets/GoogleIcon.png);
    
}

.login-facebook {
    background-image: url(assets/facebookIcon.png);
    
}

.div-borda {
    border-right: 1px solid #3C3B3B;
}

@media (max-width: 555px) {
    .form-login {
        padding: 20px;
    }
}

/*---------------------------CADASTRO---------------------------------*/
.div-cadastro-pai {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.header-cadastro {
    display: none;
}

.div-cadastro {
    display: flex;
    background-color: #D9D9D9;
    border-radius: 15px;
    margin: 2em 4em;
    justify-content: space-around;
    max-width: 900px;
}

.h2-cadastro {
    font-size: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #3C3B3B4D;
    width: 100%;
}

.input-user {
    background-image: url(assets/user.png);
}

.input-data {
    background-image: url(assets/calendario.png);
}

.aside-cadastro {
    margin: 2em 4em 4em 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.div-logo-cadastro {
    border: none;
}

.div-recados-cadastro {
    width: 100%;
    max-width: 470px;
    background-color: #67818E;
    border-radius: 15px;
    margin-bottom: 1.5em;
    text-align: center;
    min-width: 150px;
}

.p-cadastro {
    margin: 1em;
    text-shadow: 1px 1px 2px #dddcdc;
    animation: moveUpDown 2s ease-in-out infinite;
    font-size: 20px;
    min-width: 145px;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-8px);

    }

    100% {
        transform: translateY(0);
    }
}

.div-img-exibição {
    width: 100%;
}

.img-exibição {
    width: 100%;
    border-radius: 15px;
}

@media (max-width: 715px) {
    .form-login {
        padding: 2em 1.5em 4em 1.5em;
    }

    .aside-cadastro {
        margin: 2em 1.5em 4em 0;
    }
}

@media (max-width: 555px) {
    .aside-cadastro {
        display: none;
    }

    .header-cadastro {
        display: flex;
        padding: 3.5em 2em 0 2em;
        justify-content: center;
    }

    .div-logo-cadastro {
        width: 85%;
        padding-bottom: 15px;
    }

    .div-cadastro {
        flex-direction: column;
    }

    .form-cadastro {
        padding: 0 1.5em 4em 1.5em;
    }

    .inputs {
        min-width: 263px;
    }

    .inputs::placeholder {
        font-size: 13px;
    }
}

/*---------------------------TELA INICIAL---------------------------------*/

.header-tela-inicial {
    width: 100%;
    height: 4em;
    display: flex;
    background-color: #D9D9D9;
    align-items: center;
    justify-content: space-around;
}

.div-logo-header {
    max-width: 150px;
    margin-left: 1em;
}

.input-pesquisa {
    margin: 0 2em 0 3em;
    background-color: #FFFF;
    background-image: url(assets/search.png);
}
.div-buttons{
    display: flex;
    align-items: center;
}

.button-adicionar {
    background-image: url(assets/adicionar.png);
}

.button-apagar {
    background-image: url(assets/excluir.png);
}
    
.button-aviso {
    background-image: url(assets/notificacoes.png);
}

.button-desempenho {
    background-image: url(assets/rendimento.png);
}

.div-perfil{
    display: flex;
    align-items: center;
}

.img-perfil{
    margin-left: 5px;
    width: 40px;
    height: 40px;   
}

